header .navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1216px;
    margin: 0 auto;
    padding: 3rem 0;
}

header .navegacao .nav_list {
    display: flex;
    gap: 1.5rem;

    list-style: none;
}

header .navegacao .nav_menu {
    padding: 2rem;
}

header .navegacao .nav_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    max-width: 1216px;
    margin: 3rem auto;
    height: 47%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8.75rem;
    color: #fff;

}

main .main_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .main_links {
    display: flex;
    justify-content: space-between;
}

.main_links a {
    font-size: 1.12rem;
    padding: 0.87rem 2rem;
    border-radius: 4px;
}

.main_links a:first-child {
    background-color: #F1A5B1;
    color: #0B0A0A;
}

.main_links a:last-child {
    border: 2px solid #F1A5B1;
    color: #FFF;
}

.fantasma {
    /*width: 513px;*/
    /*height: 431px;*/
    position: relative;
    animation: flutuacao 1.2s infinite alternate-reverse;
}

@keyframes flutuacao {
    from {
        top: -20px;
    }

    to {
        top: 20px;
    }
}

/* Rodapé */
.footer {
    max-width: 1216px;
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    color: white;
    position: relative;
    bottom: 0;

}